@{
    ViewData["Title"] = "Home Page";
}


@*<div class="jumbotron">
    <h1>LCW WAIKIKI</h1>
    <p class="lead">Kaliteli ürünleri ucuza al.</p>
    <p><a href="/Products/Index" class="btn btn-primary btn-lg">Daha Fazla &raquo;</a></p>
</div>
*@


<div class="text-center">
    <h1 class="display-4">Welcome to The World of the Books</h1>
    <p>Let's start ' <a href="/Books/List"> Just Click </a>.</p>
</div>