@{
    ViewData["Title"] = "Contact ";
}
<h1>@ViewData["Title"]</h1>

<p> Contact me for your suggestions and requests</p>
<p> salimeyeter@outlook.com</p>
<p> Phone Number: 05321354602</p>
<p> Linkedin: <a href="https://www.linkedin.com/in/salime-yeter-650994144/">salime-yeter-650994144 </a> </p>